.listing {
  margin: 10px 0;
  padding: 10px 10px;
}
.year-color {
  margin-left: 10px;
  font-size: 16px;
  font-style: italic;
}
.car-price {
  color: #43bb20;
}
.used-new {
  color: #f0321f;
}
.features {
  columns: 3;
  -webkit-columns: 3;
  -moz-columns: 3;
}
.contact {
  margin-top: 20px;
  border: 1px solid grey;
  padding: 20px;
  box-shadow: 1px 1px 10px 1px #888888;
}
.contact-form {
  margin: 20px 0;
}

