.listing {
  margin: 10px 0;
  padding: 10px 10px;
  display: flex;
  flex-direction: row;
}
main {
  width: 70%;
}
aside {
  width: 30%;
  margin: 0 20px;
}
.year-color {
  margin-left: 10px;
  font-size: 16px;
  font-style: italic;
}
.car-price {
  color: #43bb20;
}
.used-new {
  color: #f0321f;
}
.features {
  columns: 3;
  -webkit-columns: 3;
  -moz-columns: 3;
}
.contact {
  margin-top: 20px;
  border: 1px solid grey;
  padding: 20px;
  box-shadow: 1px 1px 10px 1px #888888;
}
.contact-form {
  margin: 20px 0;
}

@media screen and (min-width: 1400px) {
  main {
    width: 80%;
  }
  aside {
    width: 20%;
    margin: 0 20px;
  }
}

@media screen and (max-width: 600px) {
  .listing {
    flex-direction: column;
  }
  main, aside {
    width: 100%;
  }
  aside {
    margin: 0;
  }
}

