<div class="listing">
  <div class="row">
    <div class="col-sm-7">
      <h3>Toyota Camry - <span class="trim">xls</span> <span class="year-color">2018, <strong>white</strong></span></h3>
      <h4 class="car-price"><strong>$23,000</strong></h4>
      <h5><strong>Description:</strong></h5>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores assumenda, aut debitis ducimus enim,
        ex fuga laudantium odit, possimus quam qui quia quisquam reiciendis repellat sed sequi temporibus vel veniam.</p>
      <h5><strong>Features:</strong></h5>
      <ul class="features">
        <li>feature</li>
        <li>feature</li>
        <li>feature</li>
        <li>feature</li>
        <li>feature</li>
        <li>feature</li>
        <li>feature</li>
        <li>feature</li>
        <li>feature</li>
        <li>feature</li>
        <li>feature</li>
        <li>feature</li>
      </ul>
    </div>
    <div class="col-sm-5">
      <img src="https://picsum.photos/400/300" alt="" width="400" height="auto">
      <div class="contact">
        <h6><strong>Seller:</strong> Ben Orimoloye</h6>
        <h6><strong>Location:</strong> Fairfax, VA - 22033</h6>
        <h6 class="contact-seller"><i class="far fa-hand-point-right"></i> Click <strong>HERE</strong> to contact seller</h6>
      </div>
    </div>
  </div>
</div>
