.navbar-nav .dropdown-menu {
  margin-left: -30% !important;
  background-color: #fdf6e3;
}
#dropdown {
  margin-left: 50px;
}
#dropdown .dropdown-item {
  color: #073642;
}
#dropdown .dropdown-item:hover {
  color: white;
}
.nav-link:hover {
  cursor: pointer;
}
