<div class="filter">
  <h5>Year</h5>
  <div class="filter-list">
      <span *ngFor="let dummy of ' '.repeat(70).split(''), let x = index">
    <input type="checkbox" name="vehicleYear" value="{{date.getFullYear() - x + 1}}"> {{date.getFullYear() - x + 1}} <br>
  </span>
  </div>
</div>

<div class="filter">
  <h5>Make</h5>
  <div class="filter-list">
    <input type="checkbox" name="vehicle1" value="Bike"> Filter <br>
    <input type="checkbox" name="vehicle1" value="Bike"> Filter <br>
    <input type="checkbox" name="vehicle1" value="Bike"> Filter <br>
    <input type="checkbox" name="vehicle1" value="Bike"> Filter <br>
    <input type="checkbox" name="vehicle1" value="Bike"> Filter <br>
    <input type="checkbox" name="vehicle1" value="Bike"> Filter <br>
    <input type="checkbox" name="vehicle1" value="Bike"> Filter <br>
    <input type="checkbox" name="vehicle1" value="Bike"> Filter <br>
    <input type="checkbox" name="vehicle1" value="Bike"> Filter <br>
    <input type="checkbox" name="vehicle1" value="Bike"> Filter <br>
    <input type="checkbox" name="vehicle1" value="Bike"> Filter <br>
    <input type="checkbox" name="vehicle1" value="Bike"> Filter <br>
    <input type="checkbox" name="vehicle1" value="Bike"> Filter <br>
    <input type="checkbox" name="vehicle1" value="Bike"> Filter <br>
    <input type="checkbox" name="vehicle1" value="Bike"> Filter <br>
    <input type="checkbox" name="vehicle1" value="Bike"> Filter <br>
    <input type="checkbox" name="vehicle1" value="Bike"> Filter <br>
    <input type="checkbox" name="vehicle1" value="Bike"> Filter <br>
    <input type="checkbox" name="vehicle1" value="Bike"> Filter <br>
    <input type="checkbox" name="vehicle1" value="Bike"> Filter <br>
    <input type="checkbox" name="vehicle1" value="Bike"> Filter <br>
    <input type="checkbox" name="vehicle1" value="Bike"> Filter <br>
    <input type="checkbox" name="vehicle1" value="Bike"> Filter <br>
    <input type="checkbox" name="vehicle1" value="Bike"> Filter <br>
    <input type="checkbox" name="vehicle1" value="Bike"> Filter <br>
    <input type="checkbox" name="vehicle1" value="Bike"> Filter <br>
    <input type="checkbox" name="vehicle1" value="Bike"> Filter <br>
  </div>
</div>

<div class="filter">
  <h5>Color</h5>
  <div class="filter-list">
    <input type="checkbox" name="vehicle1" value="Bike"> Filter <br>
    <input type="checkbox" name="vehicle1" value="Bike"> Filter <br>
    <input type="checkbox" name="vehicle1" value="Bike"> Filter <br>
    <input type="checkbox" name="vehicle1" value="Bike"> Filter <br>
    <input type="checkbox" name="vehicle1" value="Bike"> Filter <br>
    <input type="checkbox" name="vehicle1" value="Bike"> Filter <br>
    <input type="checkbox" name="vehicle1" value="Bike"> Filter <br>
    <input type="checkbox" name="vehicle1" value="Bike"> Filter <br>
    <input type="checkbox" name="vehicle1" value="Bike"> Filter <br>
    <input type="checkbox" name="vehicle1" value="Bike"> Filter <br>
    <input type="checkbox" name="vehicle1" value="Bike"> Filter <br>
    <input type="checkbox" name="vehicle1" value="Bike"> Filter <br>
    <input type="checkbox" name="vehicle1" value="Bike"> Filter <br>
    <input type="checkbox" name="vehicle1" value="Bike"> Filter <br>
    <input type="checkbox" name="vehicle1" value="Bike"> Filter <br>
    <input type="checkbox" name="vehicle1" value="Bike"> Filter <br>
    <input type="checkbox" name="vehicle1" value="Bike"> Filter <br>
    <input type="checkbox" name="vehicle1" value="Bike"> Filter <br>
    <input type="checkbox" name="vehicle1" value="Bike"> Filter <br>
    <input type="checkbox" name="vehicle1" value="Bike"> Filter <br>
    <input type="checkbox" name="vehicle1" value="Bike"> Filter <br>
    <input type="checkbox" name="vehicle1" value="Bike"> Filter <br>
    <input type="checkbox" name="vehicle1" value="Bike"> Filter <br>
    <input type="checkbox" name="vehicle1" value="Bike"> Filter <br>
    <input type="checkbox" name="vehicle1" value="Bike"> Filter <br>
    <input type="checkbox" name="vehicle1" value="Bike"> Filter <br>
    <input type="checkbox" name="vehicle1" value="Bike"> Filter <br>
  </div>
</div>
