.listing-page {
  display: flex;
  padding: 10px 0;
  margin: 10px 0;
}
aside {
  width: 23%;
  border: 1px solid grey;
  padding: 10px;
  border-radius: 5px;
  max-width: 300px;
}
main {
  width: 77%;
  padding: 0 40px;
}
main hr {
  width: 100%;
}
.car-name:hover {
  cursor: pointer;
  text-decoration: underline;
  color: #fdf6e3;
}
.filter {
  border-top: 1px solid grey;
  max-height: 400px;
  margin-top: 20px;
  padding: 5px;
  overflow: auto;
}
.listing {
  padding: 20px 10px;
  border-top: 1px solid grey;
}
.used-new {
  color: #f0321f;
}
.year-color {
  margin-left: 10px;
  font-size: 16px;
  font-style: italic;
}
.car-price {
  color: #43bb20;
}
.features {
  columns: 3;
  -webkit-columns: 3;
  -moz-columns: 3;
}
.contact {
  margin-top: 20px;
}
.fa-hand-point-right {
  color: #e1180c;
}
.contact-seller:hover {
  text-decoration: underline;
  cursor: pointer;
  color: #fdf6e3;
}
nav {
  margin-top: 30px;
}
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #fdf6e3;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b30000;
}
