<div class="listing-page">
  <aside>
    <h4><i class="fas fa-filter"></i> Filters</h4>
    <app-makes-filter></app-makes-filter>
  </aside>

  <main>
    <h3>Listings</h3>

    <div class="listing">
      <div class="row">
        <div class="col-sm-7">
          <h3 class="car-name">Toyota Camry - <span class="trim">xls</span> <span class="year-color">2018, <strong>white</strong></span></h3>
          <h4 class="car-price"><strong>$23,000</strong></h4>
          <h6><strong class="used-new">NEW</strong> , <em>0 miles</em></h6>
          <br>
          <h5><strong>Description:</strong></h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores assumenda, aut debitis ducimus enim ...<em>read more</em></p>
          <h5><strong>Location:</strong></h5>
          <p>Fairfax, VA - 22033</p>
        </div>
        <div class="col-sm-5">
          <img src="https://picsum.photos/400/300" alt="" width="300" height="auto">
        </div>
      </div>
    </div>

    <div class="listing">
      <div class="row">
        <div class="col-sm-7">
          <h3 class="car-name">Chevrolet Camaro - <span class="trim">zl1 1le</span> <span class="year-color">2017, <strong>grey</strong></span></h3>
          <h4 class="car-price"><strong>$64,000</strong></h4>
          <h6><strong class="used-new">USED</strong> , <em>11,310 miles</em></h6>
          <br>
          <h5><strong>Description:</strong></h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores assumenda, aut debitis ducimus enim ...<em>read more</em></p>
          <h5><strong>Location:</strong></h5>
          <p>Reston, VA - 22041</p>
        </div>
        <div class="col-sm-5">
          <img src="https://picsum.photos/400/300" alt="" width="300" height="auto">
        </div>
      </div>
    </div>
  </main>
</div>
